h1 {
    font-size: 36px;  /* the size ofthe text  */
    text-align: center;
    color:white;   /* the text color  */ 
    background-color:#5a5854;   /* sets the background color  */
    /* border-bottom: 1px solid #bdbdbd;  /* adds a border around the edge of the input box  */
    padding: 20px 10px 20px 10px; 
    display: block;
}
form{
    background-color:#05c46b;
    font-family: Arial,Verdana, sans-serif;
    text-align: left;
}
label.title{
    font-size:24px; 
    padding: 10px 10px 10px 10px; 
    margin-bottom: 10px;
}
label.title ~ label{
   font-size:20px;
   margin:10px 10px 10px 10px; 
}
textarea#question9{
    width: 500px;
    height: 180px;
    Position: relative;
    top:1px; 
    left:100px;
}





