h1 {
    font-size: 36px;  /* the size ofthe text  */
    text-align: center;
    color:white;   /* the text color  */ 
    background-color:#5a5854;   /* sets the background color  */
    /* border-bottom: 1px solid #bdbdbd;  /* adds a border around the edge of the input box  */
    padding: 20px 10px 20px 10px; 
    display: block;
}
form{
    background-color:#05c46b;
    font-family: Arial,Verdana, sans-serif;
    text-align: left;
}
label{
    line-height: 150%;
}
label.title{
    font-size:24px; 
    padding: 10px 10px 10px 10px; 
    margin-bottom: 10px;
}
label.title ~ label{
   font-size:20px;
   margin:10px 10px 10px 10px; 
}
textarea#question5,#question6{
    width: 600px;
    height: 180px;
    Position: relative;
    top:10px; 
    left:20px;
}
textarea#question1To4{
    width: 600px;
    height: 100px;
    Position: relative;
    top:10px; 
    left:20px;
}
input#submit{
    width: 100px;
    height: 40px;
    Position: relative;
    top:10px; 
    left:600px;
    font-size: 24px;  /* the size ofthe text  */
    text-align: center;
    color:white;   /* the text color  */ 
    background-color:hsl(254, 89%, 41%);   /* sets the background color  */
    /* border-bottom: 1px solid #bdbdbd;  /* adds a border around the edge of the input box  */
    padding: 20%, 10%, 20%, 10%;
    margin: 20px; 
}




